@font-face {
  font-family: "BYekan";
  src: url("../public/fonts/BYekan+.woff2");
}

@import "tailwindcss";

@theme {
  /* colors */
  --color-primary: #28a745;
  --color-secondary: #282828;

  /* breakpoints */

  --breakpoint-sm: 36rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 90rem;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: 36rem) {
    padding-inline: 2rem;
  }
  @media (min-width: 64rem) {
    padding-inline: 4rem;
  }
  @media (min-width: 80rem) {
    padding-inline: 5rem;
  }
  @media (min-width: 90rem) {
    padding-inline: 6rem;
  }
}

body {
  direction: rtl;
  font-family: "BYekan";
}
